@import url(http://fonts.googleapis.com/css?family=Inder)
@import url(http://fonts.googleapis.com/css?family=Exo:400,900)

html
  height: 100%
  margin: 0
  padding: 0
body
  background: white
  font-family: helvetica
  font-size: 1.1em
  color: black
  font-weight: 100
  margin: 0
  padding: 0
  height: 100%
  a
    text-decoration: none!important
  a:hover
    color: #696BBC
h1
  color: black
  font-size: 3em
#main
  padding: 10px
  padding-bottom: 140px
#container
  min-height: 100%
  position: relative
  padding-bottom: 20px
.categories-links a
  margin-right: 60px
  border-bottom: 2.5px solid transparent
  transition: 0.7s ease
  white-space: nowrap
  display: inline-block
.categories-links a:hover
  border-bottom: 2.5px solid #af376a
a#edit-profile:hover, a#logout:hover
  color: #af376a
#footer
  padding-top: 15px
  padding-bottom: 15px
  background: white
  font-size: 0.6em
  position: absolute
  bottom: 0
  width: 100%
  height: 100px
  margin-bottom: 0
  font-family: Exo
  font-weight: boldest
#footer-container h4, .subvrt-header a
  color: #AF376A!important
  text-decoration: none
#footer-container
  margin-left: 2em
.tweet
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 1px solid black
.twitter-message a
  color: #63A595!important
.nitefeed-title
  text-align: center
  color: black
  font-family: futura
  padding-bottom: 10px
  border-bottom: 1px solid black
  margin-bottom: 2.5em
  display: block
.nitefeed-title div
  display: inline-block
  clear: both!important
.clearspace
  clear: both
.title1
  font-size: 1em
  line-height: inherit
  vertical-align: top
.title2
  font-size: 2em
#sign-in-with-twitter:hover
  color: #4099FF
.navbar-inverse .navbar-nav>li>a
  color: black
.navbar-inverse .navbar-nav>li>a:hover
  color: #af376a
.navbar-brand
  text-decoration: none!important
#nitefalls-nav-link
  color: black
#nitefalls-nav
  background-color: white
  border: none
  display: block
#edit-profile, #logout
  color: black
#flash_notice
  background: lightblue
  padding-left: 3em
  font-size: .85em
  text-align: center
  margin-bottom: 1em
#category-dropdown
  display: none
.button-margin
  margin-top: 10px
  margin-bottom: 20px


