@import url(http://fonts.googleapis.com/css?family=Inder)

body
  background: url('fabric_plaid.png')
  font-family: 'Inder'!important
  font-size: 1.1em
  font-weight: 100
.tweet
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 1px solid black
.navbar-brand
  text-decoration: none!important
#nitefalls-nav-link
  color: white!important
#nitefalls-nav
  border-bottom: 3px solid cadetblue!important
  background-color: #1485CC!important
#bs-example-navbar-collapse-1
  border-bottom: 2px solid purple
#nitefalls-nav-link
  margin-left: 2em