@import url(http://fonts.googleapis.com/css?family=Inder)

body
  background: url('fabric_plaid.png')
  font-family: georgia
  font-size: 1.1em
  color: #436F8F
  font-weight: 100
  a
    text-decoration: none!important
  a:hover
    color: #696BBC
#footer
  padding: 15px
  background: #182C36
  font-size: 0.6em
#footer-container h4, .subvrt-header a
  color: #AF376A!important
  text-decoration: none
.tweet
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 1px solid black
.twitter-message a
  color: #63A595!important
.navbar-brand
  text-decoration: none!important
#nitefalls-nav-link
  color: #AF376A!important
#nitefalls-nav
  border-bottom: 3px solid cadetblue!important
  background-color: #182C36!important
#bs-example-navbar-collapse-1
  border-bottom: 2px solid purple
#nitefalls-nav-link
  margin-left: 2em
#flash_notice
  background: lightblue
  padding-left: 3em
  margin-bottom: 1em
.logged-in-as
  color: #AF376A!important